#content {
  margin-left: auto;
  margin-right: auto;
  width: 660px;
}

#quote-container {
  margin-top: 10px;
}

figure {
  display: inline-block;
  text-align: center;
  margin: 5px;
}
figure img {
  /* vertical-align: top;  */
}
